<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qre">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.qre.QREApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name="com.qre.ui.activities.LoginActivity"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.EmergencyDataActivity"
            android:label="@string/emergency_data_title">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.SeeMoreActivity"
            android:label="@string/see_more_title">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.MedicalClinicalHistoryActivity"
            android:label="@string/add_history">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity android:name="com.qre.ui.activities.HomeActivity" />
        <activity android:name="com.qre.ui.activities.ScanEmergencyDataActivity" />
        <activity android:name="com.qre.ui.activities.ScanForCodeActivity" />
        <activity android:name="com.qre.ui.activities.TemporalCodeActivity" />
        <activity android:name="com.qre.ui.activities.VerifySignatureActivity" />

        <receiver android:name="com.qre.ui.widget.QREmergenciasWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/qre_widget_info" />
        </receiver>

    </application>

</manifest>