<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.qre">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name="com.qre.QREApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name="com.qre.ui.activities.LoginActivity"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name="com.qre.ui.activities.HomeActivity"/>

        <activity android:name="com.qre.ui.activities.ScanActivity" />

        <activity android:name="com.qre.ui.activities.EmergencyDataActivity" />

        <activity android:name="com.qre.ui.activities.SeeMoreActivity" />


    </application>

</manifest>